# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in query('inventory_hostnames', 'CENTOS') %}
{% set short_name = item.split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ item }} {{ item }}.aeioui.org   {{ item }}.aeioui.org   {{ item }}.jou0eur.ovh
{% endfor %}