# {{ ansible_managed }}
127.0.0.1	localhost
127.0.1.1	maison.localdomain	maison

::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

167.114.0.135   xenserver               xenserver.aeioui.org    xenserver.aeioui.ovh    xenserver.jou0eur.ovh
192.168.0.1     pfsense                 pfsense.aeioui.org      pfsense.aeioui.ovh      pfsense.jou0eur.org
91.167.2.144    maison
{% for item in query('inventory_hostnames', 'IN') %}
{% set short_name = item.split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ item }} {{ item }}.aeioui.org   {{ item }}.aeioui.org   {{ item }}.jou0eur.ovh
{% endfor %}


