# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6


167.114.0.135   xenserver       xenserver.aeioui.org        xenserver.aeioui.ovh        xenserver.jou0eur.ovh
192.168.0.1     pfsense         pfsense.aeioui.org          pfsense.aeioui.ovh          pfsense.jou0eur.org
91.167.2.144    maison
{% for item in query('inventory_hostnames', 'IN') %}
{% set short_name = item.split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ item }} {{ item }}.aeioui.org   {{ item }}.aeioui.org   {{ item }}.jou0eur.ovh
{% endfor %}